* {
	margin: 0px;
	padding: 0px;
}

#body {
	background: #202830;
}

#container {

}

#map {
	position: fixed;
	z-index: 1;
	
}

#game_canvas {
	position: fixed;
	z-index: 2;
	
}
#ui {
	position: fixed;
	z-index: 3;
}