* {
	margin: 0px;
	padding: 0px;
}

html {
	background: #202830;
}

#container {

}

#map {
	position: fixed;
	z-index: 1;
	
}

#game_canvas {
	position: fixed;
	z-index: 2;
	
}
#ui {
	position: fixed;
	z-index: 3;
}





























@-webkit-keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}

@-moz-keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}

@keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}